/* Add your custom CSS here */

/* If you are building a widget that could be used by EVERYONE, please consider adding your CSS
 * to the global CSS stylesheet (talk to Dhruvi). Otherwise, add it here only */

/* DO NOT USE IDs FOR CSS! CLASSES ONLY! */

.list-skeleton {
    cursor: pointer;
}

.active {
  border : 2px inset #27470e;
  background-color : #27470e;
  color : #999;
  padding : 2px 11px 4px 9px;
}

.myaccount_popup h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
}

#billing a {
    background-image: url(../images/regular_btn.png);
    width: 81px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 27px;
    color: white;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px
}

#billing a:hover {
    color: #05AFDC;
    cursor: pointer;
}

#billing p.note_box {
    background-color: #E7E7E7;
    padding: 15px 10px;
    font-size: 10px;
    line-height: 15px;
}

.myaccount_popup .apps li{
    margin-left: 20px;
    
}

#apikey a {
    background-image: url(../images/regular_btn.png);
    width: 81px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 27px;
    color: white;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px
}

#apikey a:hover {
    color: #05AFDC;
    cursor: pointer;
}