/* Put custom css here */

/* Credit popup */

#edit_credit p span{
    font-size: 12px;
}

#edit_credit form span{
    font-weight:normal
}

/* Edit Cnam */

#edit_cnam p {
    font-weight:normal;
}

/* Edit Server */

#edit_server .form p {
    float:left; 
    margin: 5px -20px 20px 5px;
}

/*Edit Number*/

#edit_number .or {
    margin: 0 0 5px 110px;
}