/* Put custom css here */

/* Credit popup */


#edit_credit p span{
    font-size: 12px;
}

#edit_credit form span{
    font-weight:normal
}

/* Credit card popup */

#edit_billing .note_box clear span {
    font-size: 12px;
}

#edit_billing h3 {
    clear: both;
}

/* Edit Failover */

#edit_failover input {
    width: 100px;
}

/* Edit Cnam */

#edit_cnam p {
    font-weight:normal;
}

/* Edit Server */

#edit_server .form p {
    float:left; 
    margin: 5px -20px 20px 5px;
}
