/*.server {
	background-image: url(../img/server.png);
	width: 169px;
	height: 121px;
	float: left;
	margin: 0 9px 39px;
}

.server h3 {
	font-size: 11px;
	font-weight: bold;
	margin: 4px 0 0 4px;
	float: left;
}

.server a.cancel_btn {
	background-image: url(../img/cancel_btn.png);
	width: 15px;
	height: 15px;
	background-position: 0 0;
	display: block;
	float: right;
	text-indent: -9999px;
	margin: 1px 3px 0 0;
}

.server a.cancel_btn:hover {
	background-position: 0 -15px;
}

.server a.power_btn {
	background-image: url(../img/power_btn.png);
	width: 13px;
	height: 14px;
	background-position: 0 0;
	display: block;
	float: left;
	text-indent: -9999px;
	margin: 83px 0 0 6px;
}

.server a.power_btn:hover {
	background-position: 0 -14px;
}

.server a.options {
	background-image: url(../img/option_icon.png);
	background-repeat: no-repeat;
	width: 62px;
	height: 11px;
	background-position: 40px 0px;
	display: block;
	float: right;
	margin: 85px 5px 0 0;
	font-size: 11px;
	line-height: 11px;
}

.server a.options:hover {
	background-position: 40px -11px;
}*/


.server {
    width: 169px;
    height: 121px;
    float: left;
    margin: 0 9px 39px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


    background-color: #6b6b6b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#444444)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #6b6b6b, #444444); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(top, #6b6b6b, #444444); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #6b6b6b, #444444); /* IE10 */
    background-image: -o-linear-gradient(top, #6b6b6b, #444444); /* Opera 11.10+ */
    background-image: linear-gradient(top, #6b6b6b, #444444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6b6b6b', EndColorStr='#444444'); /* IE6‚ÄìIE9 */

    text-align: center;

    /*TMP*/
    color: black;
}

.server_header {
    width: 90%;
    height: 15%;
    margin: auto;
    margin-top: 1%;
}

.server_content {
    width: 96%;
    height: 70%;
    margin: auto;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    background-color: white;

    overflow: auto;
}

.server_footer {
    width: 90%;
    height: 15%;
    margin: auto;
}

.server a.cancel_btn {
    background-image: url(../img/cancel_btn.png);
    width: 15px;
    height: 15px;
    background-position: 0 0;
    display: block;

    float: right;
    margin-top: 1%;
    margin-right: -5%;
}

.server a.cancel_btn:hover {
    background-position: 0 -15px;
}

.idle {
    color: greenyellow;
}

.never_run {
    color: red;
}

.running {
    color: orange;
}

#tabs2 h4 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
