#deploy-view {
	width: 100%;
}

#deploy-form {
	text-align: center;
	margin: 15px;
}

#deploy-form .field {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

#deploy-form .submit {
	margin-right: 0px;
}

#deploy-form .advanced-wrapper {
	text-align: right;
	margin-top: 5px;
	height: 20px;
}

#deploy-form .advanced-wrapper .advanced {
	margin-right: 18px;
}

#deploy-form .advanced-wrapper .advanced .menu {
	display: none;
	text-align: left;
	border: 1px solid #FFFFFF;
	background: #838383;
	position: relative;
	width: 200px;
	height: 100px;
	z-index: 100;
}

#deploy-servers-wrapper {
	border: 1px solid;
}

#deploy-servers-wrapper legend {
	margin-left: 15px;
	padding-left: 3px;
	padding-right: 3px;
}

#deploy-servers {
	margin: 15px;
}

#deploy-servers .servers-header {
	text-align: center;
}

#deploy-servers .servers {
	text-align: center;
}

#deploy-servers .server-column {
	display: inline-block;
	width: 19.5%;
}

#deploy-servers .servers-header .server-column {
	font-weight: bold;
	border-right: 1px solid #FFFFFF;
}

#deploy-servers .servers-header .server\.actions {
	border-right: 0px;
}

#deploy-servers .servers .server-column {
	text-align: left;
	margin-right: 1px;
}

#deploy-servers .servers .server\.actions {
	text-align: center;
	margin-right: 0px;
}

#deploy-servers .servers .server-column .data {
	margin-left: 10px;
}
