#deploy-view {
	width: 100%;
}

#deploy-form {
	margin: 15px;
}

#deploy-form .field {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

#deploy-form .field .advanced {
	display: block;
	margin-top: 5px;
}

#deploy-servers-wrapper {
	border: 1px solid;
}

#deploy-servers-wrapper legend {
	margin-left: 15px;
	padding-left: 3px;
	padding-right: 3px;
}

#deploy-servers {
	margin: 15px;
}

#deploy-servers .servers-header {
	text-align: center;
}

#deploy-servers .servers-header .server-column {
	border-right: 1px solid;
}

#deploy-servers .servers-header .server\.actions {
	border-right: 0px;
}

.server-column {
	display: inline-block;
	width: 19.5%;
}
