#callflow-view {
    width: 80%;
}

#ws_callflow {
    width: 100%;
}

#ws_callflow #ws_cf_flow { width: 80%; overflow-x: auto; min-height: 400px; padding-top: 20px; text-align: center; }
#ws_callflow .control_bar { text-align: center; height: 50px; padding: 10px; }

#ws_callflow .save { display: inline-block; text-align: center; border: solid 1px; width: 70px; padding: 6px; }
#ws_callflow .save.active { background-color: #eee; }

#ws_callflow table.callflow { width: 100%; /*border: solid 1px;*/ }
#ws_callflow table.callflow td { vertical-align: top; }
#ws_callflow td.flow { width: 80%; }

#ws_callflow .child { display: inline-block; vertical-align: top; text-align: center; white-space: normal; }
#ws_callflow .branch { display: block; text-align: center; }
#ws_callflow .node.active { background-color: #fff; }
#ws_callflow .node.inactive { filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; }
#ws_callflow .children { display: block; white-space: pre; }

#ws_callflow td.tools { width: 20%; }
#ws_callflow .tool { text-align: center; vertical-align: middle; }
#ws_callflow .tool .action.inactive { display: none; }
