#ringgroup .wrapper {
    float: left;
}

#ringgroup .wrapper .available {
    background-color: red;
    min-height: 100px;
    width: 150px;
    float: left;
}

#ringgroup .wrapper .ring_group {
    background-color: yellow;
    min-height: 100px;
    width: 150px;
    float: left;
}

#ringgroup .wrapper ul {
    min-height: 100px;
}
