#ws_callflow table {	border-collapse: separate;	border-spacing: 0; }
#ws_callflow caption, th, td { text-align: left; font-weight: normal; }
#ws_callflow blockquote:before, blockquote:after,q:before, q:after {	content: "";}
#ws_callflow blockquote, q {	quotes: "" ""; }

#ws_callflow a { text-decoration: none; color: #fff;}
#ws_callflow .clear { clear: both;}

#ws_callflow .btn_plus { background: url(images/btn_plus.png) no-repeat; display: block; height: 27px; line-height: 26px;}
#ws_callflow .btn_plus_sm { background: url(images/btn_plus_sm.png) no-repeat; display: block; height: 17px; line-height: 18px;}

#ws_callflow { color: #fff; font-family: Arial, Helvetica, sans-serif;}
#ws_callflow table { background: inherit;}
#ws_callflow { /*background: url(images/bg_container.jpg) repeat-x;*/ width: 1024px; margin: 0 auto 10px;}
#header { border-bottom: 1px solid #fff; width: 1024px; margin: auto;}

#ws_callflow #left_col { border-right: 1px solid #fff; width: 192px; height: 100%; float: left;}
#ws_callflow #left_col #add_flow { border-bottom: 1px solid #999; background: #4D4D4D; width: 182px; height: 39px; padding: 20px 0 10px 10px; text-align: center;}
#ws_callflow #left_col #add_flow .btn_plus { background: url(images/btn_plus.png) no-repeat; display: block; height: 27px; line-height: 26px;}
#ws_callflow #left_col #add_flow .btn_plus a { color: #fff;}
#ws_callflow #left_col #add_flow .btn_plus a:hover { color: #ccc;}

#ws_callflow #search { border-bottom: 1px solid #fff; padding: 9px;}
#ws_callflow #search #searchsubmit { float: left;}
#ws_callflow #search #searchfield { background: url(images/search_mid.png) repeat-x; border: medium none; float: left; height: 20px; width: 120px;}

#ws_callflow > .callflow { float: left;}
#ws_callflow .callflow.add_num {  width: 830px;}
#ws_callflow .callflow.app_tree { width: 638px;}
#ws_callflow .callflow #add_new_number { background: url(images/bg_add_number.png) no-repeat; width: 239px; height: 152px; margin: 100px auto 0;}
#ws_callflow .callflow #add_new_number h2 { text-align: center; padding-top: 5px;}
#ws_callflow .callflow #add_new_number input.number_field { background: none; border: medium none; color: #FFFFFF; display: block; margin: 24px auto 0; padding: 4px 0; width: 150px;}
#ws_callflow .callflow #add_new_number #addNum_btn {  float: right; padding: 10px 35px 10px 0;}
#ws_callflow .callflow #add_new_number #addNum_btn input { cursor: pointer; float: left; margin: 0 2px;}
#ws_callflow .callflow input.ltgray_btn { background: url(images/btn_lightGrey.png) no-repeat; border: none; color: #666666; display: block; font-size: 12px; height: 18px; line-height: 20px; text-align: center; width: 73px;}
#ws_callflow .callflow #addNum_btn { display: inline;}
#ws_callflow .callflow #add_new_number .add_number { float: right; font-size: 12px; padding: 18px 35px 0 0;}

#ws_callflow .callflow .root { background: url(images/bg_callFlow_num.png) no-repeat; width: 239px; height: 152px;}
#ws_callflow .callflow .root h2 { padding: 10px 0 12px; text-align: center;}
#ws_callflow .callflow .root .number_list { height: 86px; margin: auto; overflow: auto; width: 180px;}
#ws_callflow .callflow .root .number_list ul { padding-left: 10px;}
#ws_callflow .callflow .root .number_list ul li { font-size: 12px; padding: 5px 0;}
#ws_callflow .callflow .root .add_number .btn_plus_sm { float: left; font-size: 12px; margin: 5px 0 0 5px; padding-left: 20px;}

#ws_callflow .callflow .root .trash { background: url(images/trash.png) no-repeat; float: right; width: 12px; height: 16px; margin: 5px 12px 0; text-indent: -10000px;}

/*.callflow .node { width: 112px; height: 84px; }*/
#ws_callflow .callflow .node { display: inline-block; }
#ws_callflow .callflow .node .delete { background: url(images/btn_delete.png) no-repeat; width: 6px; height: 6px; display: block; text-indent: -10000px; left: 5px; top: 5px; position: relative; float: left;}
#ws_callflow .callflow .node .dragndrop { background: url(images/dragndrop.png) no-repeat 12px 5px; float: left; width: 95px; height: 15px; display: block;}
#ws_callflow .callflow .node .edit { background: url(images/btn_edit.png) no-repeat; float: right; clear: both; width: 9px; height: 7px; display: block; margin-right: 5px;}
#ws_callflow .callflow .app_btn { clear: both; display: block; height: 56px; width: 112px;}

#ws_callflow .callflow .app_menu { background: url(images/icons_black/menu.png) no-repeat; }
#ws_callflow .callflow .app_answer { background: url(images/icons_black/answer.png) no-repeat; }
#ws_callflow .callflow .app_play_tone { background: url(images/icons_black/play_tone.png) no-repeat; }
#ws_callflow .callflow .app_voicemail { background: url(images/icons_black/voicemail.png) no-repeat; }
#ws_callflow .callflow .app_auto_attendent { background: url(images/icons_black/auto_attendent.png) no-repeat; }
#ws_callflow .callflow .app_hang_up { background: url(images/icons_black/hang_up.png) no-repeat; }

#ws_callflow .callflow .editable_text { background: url(images/editable_text.png) no-repeat; width: 50px; height: 23px; display: block; float: left; left: 70px; position: relative; top: 24px;}
#ws_callflow .callflow .drag_here { background: url(images/drag_here.png) no-repeat; float: left; position: relative; top: 40px; left: 30px;}

/* APP LIST */
/*.callflow .icons_black { width: 620px; float: left; padding: 20px;}*/
#ws_callflow .callflow .icons_black.node { width: 112px; height: 84px; margin: 5px; }
#ws_callflow .callflow .icons_black .node .delete { background: url(images/btn_delete.png) no-repeat; width: 6px; height: 6px; display: block; text-indent: -100000px; left: 5px; top: 5px; position: relative; float: left;}
#ws_callflow .callflow .icons_black .node .dragndrop { background: url(images/dragndrop.png) no-repeat 12px 5px; float: left; width: 95px; height: 15px; display: block;}
#ws_callflow .callflow .icons_black .node .edit { background: url(images/btn_edit.png) no-repeat; float: right; clear: both; width: 9px; height: 7px; display: block; margin-right: 5px;}
#ws_callflow .callflow .icons_black .app_btn { clear: both; display: block; height: 56px; width: 112px;}

/*.callflow .icons_white { width: 106px; padding: 20px;}*/
#ws_callflow .callflow .icons_white.app_sm { width: 45px; height: 37px; margin: 4px; display: inline-block; margin-top: 16px;}

#ws_callflow .callflow .icons_white.menu { background: url(images/icons_white/dial.png) no-repeat;}
#ws_callflow .callflow .icons_white.device { background: url(images/icons_white/ring_device.png) no-repeat;}
#ws_callflow .callflow .icons_white.playtone { background: url(images/icons_white/play_tone.png) no-repeat;}
#ws_callflow .callflow .icons_white.voicemail { background: url(images/icons_white/voicemail.png) no-repeat;}
#ws_callflow .callflow .icons_white.autoattendent { background: url(images/icons_white/auto_attendant.png) no-repeat;}
#ws_callflow .callflow .icons_white.hangup { background: url(images/icons_white/hang_up.png) no-repeat;}
#ws_callflow .callflow .icons_white.transfer { background: url(images/icons_white/transfer.png) no-repeat;}
#ws_callflow .callflow .icons_white.callflow { background: url(images/icons_white/transfer.png) no-repeat;}
#ws_callflow .callflow .icons_white.playaudio { background: url(images/icons_white/play_audio.png) no-repeat;}
#ws_callflow .callflow .icons_white.play { background: url(images/icons_white/play_audio.png) no-repeat;}
#ws_callflow .callflow .icons_white.recordcall { background: url(images/icons_white/record_call.png) no-repeat;}
#ws_callflow .callflow .icons_white.recordaudio { background: url(images/icons_white/record_audio.png) no-repeat;}
#ws_callflow .callflow .icons_white.waitforsilence { background: url(images/icons_white/wait_for_silence.png) no-repeat;}
#ws_callflow .callflow .icons_white.waitfortone { background: url(images/icons_white/wait_for_tone.png) no-repeat;}
#ws_callflow .callflow .icons_white.conference { background: url(images/icons_white/conference.png) no-repeat;}
#ws_callflow .callflow .icons_white.setcallerid { background: url(images/icons_white/set_caller_id.png) no-repeat;}
#ws_callflow .callflow .icons_white.checkcallerid { background: url(images/icons_white/check_caller_id.png) no-repeat;}
#ws_callflow .callflow .icons_white.musiconhold { background: url(images/icons_white/music_on_hold.png) no-repeat;}
#ws_callflow .callflow .icons_white.ringdevice { background: url(images/icons_white/ring_device.png) no-repeat;}
#ws_callflow .callflow .icons_white.ring_group { background: url(images/icons_white/ring_group.png) no-repeat;}
#ws_callflow .callflow .icons_white.dial { background: url(images/icons_white/dial.png) no-repeat;}
#ws_callflow .callflow .icons_white.offnet { background: url(images/icons_white/dial.png) no-repeat;}
#ws_callflow .callflow .icons_white.intercomcall { background: url(images/icons_white/intercom_call.png) no-repeat;}
#ws_callflow .callflow .icons_white.changeringer { background: url(images/icons_white/change_ringer.png) no-repeat;}
#ws_callflow .callflow .icons_white.sleep { background: url(images/icons_white/sleep.png) no-repeat;}
#ws_callflow .callflow .icons_white.sendtouchtone { background: url(images/icons_white/send_touch_tone.png) no-repeat;}
#ws_callflow .callflow .icons_white.detectfax { background: url(images/icons_white/detect_fax.png) no-repeat;}
#ws_callflow .callflow .icons_white.receivefax { background: url(images/icons_white/receive_fax.png) no-repeat;}
#ws_callflow .callflow .icons_white.sendfax { background: url(images/icons_white/send_fax.png) no-repeat;}
#ws_callflow .callflow .icons_white.runmacro { background: url(images/icons_white/run_macro.png) no-repeat;}
#ws_callflow .callflow .icons_white.checkvariable { background: url(images/icons_white/check_variable.png) no-repeat;}
#ws_callflow .callflow .icons_white.setvariable { background: url(images/icons_white/set_variable.png) no-repeat;}
#ws_callflow .callflow .icons_white.setringback { background: url(images/icons_white/set_ringback.png) no-repeat;}
#ws_callflow .callflow .icons_white.temporal_route { background: url(images/icons_white/set_time_of_day.png) no-repeat;}

#ws_callflow .callflow .icons_black.menu { background: url(images/icons_black/menu.png) no-repeat; }
#ws_callflow .callflow .icons_black.device { background: url(images/icons_black/ring_device.png) no-repeat; }
#ws_callflow .callflow .icons_black.temporal_route { background: url(images/icons_black/check_time_of_day.png) no-repeat; }
#ws_callflow .callflow .icons_black.offnet { background: url(images/icons_black/dial.png) no-repeat; }
#ws_callflow .callflow .icons_black.call_forward { background: url(images/icons_black/transfer.png) no-repeat; }
#ws_callflow .callflow .icons_black.play { background: url(images/icons_black/play_audio.png) no-repeat; }
#ws_callflow .callflow .icons_black.playtone { background: url(images/icons_black/play_tone.png) no-repeat; }
#ws_callflow .callflow .icons_black.voicemail { background: url(images/icons_black/voicemail.png) no-repeat; }
#ws_callflow .callflow .icons_black.autoattendent { background: url(images/icons_black/auto_attendent.png) no-repeat; }
#ws_callflow .callflow .icons_black.hangup { background: url(images/icons_black/hang_up.png) no-repeat; }
#ws_callflow .callflow .icons_black.transfer { background: url(images/icons_black/transfer.png) no-repeat; }
#ws_callflow .callflow .icons_black.callflow { background: url(images/icons_black/transfer.png) no-repeat; }
#ws_callflow .callflow .icons_black.playaudio { background: url(images/icons_black/play_audio.png) no-repeat; }
#ws_callflow .callflow .icons_black.recordcall { background: url(images/icons_black/record_call.png) no-repeat; }
#ws_callflow .callflow .icons_black.recordaudio { background: url(images/icons_black/record_audio.png) no-repeat; }
#ws_callflow .callflow .icons_black.waitforsilence { background: url(images/icons_black/wait_for_silence.png) no-repeat; }
#ws_callflow .callflow .icons_black.waitfortone { background: url(images/icons_black/wait_for_tone.png) no-repeat; }
#ws_callflow .callflow .icons_black.conference { background: url(images/icons_black/conference.png) no-repeat; }
#ws_callflow .callflow .icons_black.setcallerid { background: url(images/icons_black/set_caller_id.png) no-repeat; }
#ws_callflow .callflow .icons_black.checkcallerid { background: url(images/icons_black/check_caller_id.png) no-repeat; }
#ws_callflow .callflow .icons_black.musiconhold { background: url(images/icons_black/music_on_hold.png) no-repeat; }
#ws_callflow .callflow .icons_black.ringdevice { background: url(images/icons_black/ring_device.png) no-repeat; }
#ws_callflow .callflow .icons_black.ring_group { background: url(images/icons_black/ring_group.png) no-repeat; }
#ws_callflow .callflow .icons_black.dial { background: url(images/icons_black/dial.png) no-repeat; }
#ws_callflow .callflow .icons_black.intercomcall { background: url(images/icons_black/intercom_call.png) no-repeat; }
#ws_callflow .callflow .icons_black.changeringer { background: url(images/icons_black/change_ringer.png) no-repeat; }
#ws_callflow .callflow .icons_black.sleep { background: url(images/icons_black/sleep.png) no-repeat; }
#ws_callflow .callflow .icons_black.sendtouchtone { background: url(images/icons_black/send_touch_tone.png) no-repeat; }
#ws_callflow .callflow .icons_black.detectfax { background: url(images/icons_black/detect_fax.png) no-repeat; }
#ws_callflow .callflow .icons_black.receivefax { background: url(images/icons_black/receive_fax.png) no-repeat; }
#ws_callflow .callflow .icons_black.sendfax { background: url(images/icons_black/send_fax.png) no-repeat; }
#ws_callflow .callflow .icons_black.runmacro { background: url(images/icons_black/run_macro.png) no-repeat; }
#ws_callflow .callflow .icons_black.response { background: url(images/icons_black/run_macro.png) no-repeat; }
#ws_callflow .callflow .icons_black.checkvariable { background: url(images/icons_black/check_variable.png) no-repeat; }
#ws_callflow .callflow .icons_black.setvariable { background: url(images/icons_black/set_variable.png) no-repeat; }
#ws_callflow .callflow .icons_black.setringback { background: url(images/icons_black/set_ringback.png) no-repeat; }
#ws_callflow .callflow .icons_black.checktime { background: url(images/icons_black/check_time_of_day.png) no-repeat; }
#ws_callflow .callflow .drag_here { background: url(images/drag_here.png) no-repeat; float: left; position: relative; top: 40px; left: 30px;}

#ws_callflow .tools { background: #898989; float: left; min-width: 192px;}
#ws_callflow .tools .open { background: url(images/bg_appList_cap.png) no-repeat; border-bottom: 1px solid #b1b1b1; font-size: 14px; padding: 30px 0 20px; text-align: center; }
#ws_callflow .tools ul { background: #6A6A6A;}
//#ws_callflow .tools ul li { background: #898989; border: 1px solid #6A6A6A; float: left; height: 94px; width: 94px;}
#ws_callflow .tools .tool { background: #898989; border: 1px solid #6A6A6A; float: left; height: 94px; width: 94px;}
#ws_callflow .tools ul li a {}
#ws_callflow .tools .app_list_nav { background: #bcbcbc; padding: 5px;}
#ws_callflow .tools .app_list_nav p { text-align: center; font-size: 14px; float: left; padding: 0 45px;}
#ws_callflow .tools .app_list_nav .left_arrow { background: url(images/arrow_left.png) no-repeat; width: 20px; height: 16px; float: left;}
#ws_callflow .tools .app_list_nav .right_arrow { background: url(images/arrow_right.png) no-repeat; width: 20px; height: 16px; float: left;}

#ws_callflow #number_list { height: 400px;}
#ws_callflow #number_list ul { background: #B3B3B3; font-family: Myriad Pro, Arial, Helvetica, sans-serif; font-size: 12px;}
#ws_callflow #number_list ul li { padding: 10px 0 5px 30px; border-bottom: 1px solid #E9E9E9; border-top: 1px solid #A4A4A4;}
#ws_callflow #number_list ul li.selected { color: #4D4D4D;}
#ws_callflow #number_list ul li a {}

#ws_callflow .tools .voicemail_apps { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px; margin: 2px auto; font-size: 13px;}
#ws_callflow .tools .ringtone_apps { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px; margin: 2px auto; font-size: 13px;}
#ws_callflow .tools .recording_apps { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px; margin: 2px auto; font-size: 13px;}

#ws_callflow #footer { width: 1024px; margin: 0 auto 20px; font-size: 12px;}
#ws_callflow #footer a { float: left; margin-right: 10px;}
#ws_callflow #footer a.detailed_listing { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px;}
#ws_callflow #footer a.gray_btn { background: url(images/btn_darkGrey.png) no-repeat; width: 81px; height: 28px; display: block; text-align: center; line-height: 25px;}
#ws_callflow #footer a.remove {}
#ws_callflow #footer a.save {}
