<div>
    <div class="clear"/>

    {{if field_data.roles}}
    <div class="stylized myform">
        <p>&nbsp;</p>
            <label for="role">Role:&nbsp; </label>
            <select name="role" id="infos_role">
            {{each(i,val) field_data.roles}}
                {{if data.role == i}}
                    <option id="${i}" value="${i}" selected="selected">${val.label}</option>
                {{else}}
                    <option id="${i}" value="${i}">${val.label}</option>
                {{/if}}
            {{/each}}
            </select>
        <p>&nbsp;</p>
        <a id="btnRole" class="fancy_button block blue" href="javascript:void(0);">Submit</a>
    </div>
    {{/if}}

    <hr/>
    <div class="stylized myform">
        <label for="infos_email">Change your email: </label><input id="infos_email" type="text" value="${data.email}"/><div class="clear">
        <p>&nbsp;</p>
        <a id="btnEmail" class="fancy_button block blue" href="javascript:void(0);">Submit</a>
    </div>
    <hr/>

    <div class="stylized myform">
        <label for="infos_pwd1">Change your password: </label><input id="infos_pwd1" type="password" /><div class="clear">
        <label for="infos_pwd2">Confirm your password: </label><input id="infos_pwd2" type="password" /><div class="clear">
        <p>&nbsp;</p>
        <a id="btnPwd" class="fancy_button block blue" href="javascript:void(0);">Submit</a>
    </div>
    <hr/>
</div>
