@charset "UTF-8";

/**GENERAL**/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit;   font-style: inherit; font-size: 100%; font-family: inherit; }

:focus { outline: 0;}

.clear { 
    clear: both;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat-x;
    background-color: #e5e5e5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
}

/**WRAPPER**/
.wrapper{
    margin: 0px auto 0px auto;
}

.wrapper .top-header {
    height: 30px;		
}

.wrapper .top-header .whistle-apps ul {
    position: relative;
    float: right;
    width: 500px;
    list-style: none;
    height: 30px;
    text-align: right;
}

.wrapper .top-header .whistle-apps ul li {
    display: inline;	
}

.wrapper .top-header .account-settings ul {
    position: relative;
    float: right;
    width: 200px;	
    height: 30px;
    text-align: right;
}

.wrapper .top-header .account-settings ul li {
    display: inline;
}

/**HEADER**/
.header {
	background-image: url(../img/nav/background_trans.png);
	padding: 1px;
	position: relative;
}

#logo {
    position: absolute;
    top: 1;
    left: 1;
    background-image: url(../img/logo.jpg);
    height: 32px;
    width: 190px;
    z-index: 2;
}

/**NAV**/

#ws-nav {
    width: 100%;
    height: 32px;
    background-image: url(../img/nav/nav_bak.jpg);
    background-repeat: repeat-x;
    padding: 0px;
}

#ws-nav div.inner {
    padding: 0px 0px 0px 190px;	
}

.winkstart-topnav {	
    display: table-row;
    height: 32px; 
}

.winkstart-topnav div {
    display: table-cell;
    height: 32px;
    border-right: 1px solid #7a7a7a; 
}

.winkstart-topnav a {
    color: #fff;
    position: relative;
    text-decoration: none;
    display: block;
    padding: 8px 0px 0px 4px;
}

.winkstart-topnav a:hover { 
    color: #00B0D9;     
}

.winkstart-subnav {
    width: 100%;
    height: 115px;
    z-index: 2;
    position: absolute;
    top: 32;
    left: 0;
    margin: 0px;
    padding: 0px;
}

.subnav-row {
    width: 100%;
    padding: 0px 1px 0px 1px;
    background: #000;
}

.inline-block {
	display: table-cell;
	border-right: 1px solid #7a7a7a;
	height: 110px; 
}

.inline-block .left-outer {
    border-left: 1px solid #7a7a7a;
}

.inline-block .right-outer {
    border-right: none;
}


.inline-block a {
    color: #fff;
    text-decoration: none;	
}

.inline-block a:hover {
	color: #00B0D9;  
}

.inline-block ul {
	padding: 4px 0px 0px 4px;
}

.inline-block ul li {
    list-style: none;
}

#bread-crumbs {
    float: left;
    width: 190px;
    height: 45px;
}
#update-notification {
    float: left;
    width: 650px;
    height: 45px;
}
#live-notifications {
    float: left;
    height: 45px;
    width: 177px;
}

.main_content {
    float: left;
    width: 832px;
}
.inner {
    padding: 10px;	
}

/*******************************
----REMOVE & SAVE BUTTONS-----
*******************************/

ul.remove_save_btn{
    display: block;
    list-style-type: none;
    margin: 21px 0 0 650px; 
    
}

ul.remove_save_btn li{
    float: left;
    text-align: center;
    padding-right: 3px;
    
}

ul.remove_save_btn a{
    display: block;
    background-image: url(../img/button/button_bg.png);
    width: 81px;
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

ul.remove_save_btn a:hover{
    color: #29abe1;

}

/**************************
----TOP TABS MEDIA---------
****************************/

.media_tabs {
    background-color: #9d9d9d;
    width: 788px;
    height: 130px;
    margin: 54px 0 0 18px; 
    padding: 0 6px;
    position:relative;  
    z-index:600;
}

.buttons{
    width: 191px;
    height: 130px;
    float: left; 
    position: relative;
    margin: 0 3px;  
}

.buttons a.upload{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/uploadfile_btn.png);
    background-position: 0px 0px;       
}

.buttons a.audio{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/audiostream_btn.png);
    background-position: 0px 0px;       
}

.buttons a.text{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/texttospeech_btn.png);
    background-position: 0px 0px;       
}

.buttons a.record{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/record_btn.png);
    background-position: 0px 0px;       
}

.buttons a:hover{
    background-position: 0px -130px;        
}

.buttons a.current, .buttons a.current:hover{
    background-position: 0px -130px;        
    cursor:default !important; 
    color:#fff !important;
    -moz-box-shadow: 3px 5px 10px #383838;
    -webkit-box-shadow: 3px 5px 10px #383838;
    box-shadow: 3px 5px 10px #383838;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.media_pane{
    width:760px;
    border: 1px solid #727272;
    margin-left:18px;
    padding: 64px 20px 20px 20px;   
    background-color: #a3a3a3;
    z-index:-1;
    position:relative;
    top: 7px;
    
}
    
