@charset "UTF-8";

/**GENERAL**/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit;   font-style: inherit; font-size: 100%; font-family: inherit; }

:focus { outline: 0;}

.clear { 
    clear: both;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat-x;
    background-color: #e5e5e5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
}

/**WRAPPER**/
.wrapper{
    margin: 30px auto 0 auto;
}

/**HEADER**/
.header {
	background-image: url(../img/nav/background_trans.png);
	padding: 1px;
	position: relative;
}

#logo {
    position: relative;
    float: left;
    background-image: url(../img/logo.jpg);
    height: 32px;
    width: 190px;
}

/**NAV**/

#ws-nav {
    position: relative;
    float: left;
    width: 831px;
    background-image: url(../img/nav/nav_bak.jpg);
    background-repeat: repeat-x;
}


ul#topnav {
    margin: 0; padding: 0;
    height: 32px;
    border-left: 1px solid #7a7a7a;
    float:left;
    width: 650px;
    list-style: none;
}

ul#topnav li.top {
	border-right: 1px solid #7a7a7a;
}

ul#topnav li {
    float: left;
    margin: 0; padding: 0;
    position: relative;
    height: 32px;
}
ul#topnav li a {
    float: left; 
    color: #fff;
    display: block;
    position: relative;
    padding: 0.7em 1em;
    text-decoration: none;
}
ul#topnav li:hover a, ul#topnav li a:hover { 
    color: #00B0D9;     
}

ul#topnav li .sub {
    position: absolute; 
    top: 32px; 
    left: 0;
    background: #000;
    padding: 20px 20px 20px;
    float: left;
    /*--Bottom right rounded corner--*/
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    /*--Bottom left rounded corner--*/
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    display: none;
}
ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
    list-style: none;
    margin: 0; padding: 0;
    width: 150px;
    float: left;
}
ul#topnav .sub ul li {
    width: 100%;
    color: #fff;
}
ul#topnav .sub ul li h2 {
    padding: 0;  margin: 0;
    font-size: 1.3em;
    font-weight: normal;
}
ul#topnav .sub ul li h2 a {
    padding: 5px 0;
    background-image: none;
    color: #e8e000;
}
ul#topnav .sub ul li a {
    float: none; 
    text-indent: 0; /*--Reset text indent--*/
    height: auto;
    padding: 0px;
    display: block;
    text-decoration: none;
    color: #fff;
}
ul#topnav .sub ul li a:hover {
	color: #00B0D9;     
}


#bread-crumbs {
    position: relative;
    float: left;
    width: 190px;
    height: 45px;
    padding: 4px 0px 0px 4px;
}
#update-notification {
    position: relative;
    float: left;
    width: 650px;
    height: 45px;
}
#live-notifications {
    padding: 4px 0px 0px 4px;
}

.main_content {
    float: left;
    width: 832px;
}

/*******************************
----REMOVE & SAVE BUTTONS-----
*******************************/

ul.remove_save_btn{
    display: block;
    list-style-type: none;
    margin: 21px 0 0 650px; 
    
}

ul.remove_save_btn li{
    float: left;
    text-align: center;
    padding-right: 3px;
    
}

ul.remove_save_btn a{
    display: block;
    background-image: url(../img/button/button_bg.png);
    width: 81px;
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

ul.remove_save_btn a:hover{
    color: #29abe1;

}

/**************************
----TOP TABS MEDIA---------
****************************/

.media_tabs {
    background-color: #9d9d9d;
    width: 788px;
    height: 130px;
    margin: 54px 0 0 18px; 
    padding: 0 6px;
    position:relative;  
    z-index:600;
}

.buttons{
    width: 191px;
    height: 130px;
    float: left; 
    position: relative;
    margin: 0 3px;  
}

.buttons a.upload{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/uploadfile_btn.png);
    background-position: 0px 0px;       
}

.buttons a.audio{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/audiostream_btn.png);
    background-position: 0px 0px;       
}

.buttons a.text{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/texttospeech_btn.png);
    background-position: 0px 0px;       
}

.buttons a.record{
    width: 191px;
    height: 130px;
    display: block;
    background-image:url(../img/media/record_btn.png);
    background-position: 0px 0px;       
}

.buttons a:hover{
    background-position: 0px -130px;        
}

.buttons a.current, .buttons a.current:hover{
    background-position: 0px -130px;        
    cursor:default !important; 
    color:#fff !important;
    -moz-box-shadow: 3px 5px 10px #383838;
    -webkit-box-shadow: 3px 5px 10px #383838;
    box-shadow: 3px 5px 10px #383838;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.media_pane{
    width:760px;
    border: 1px solid #727272;
    margin-left:18px;
    padding: 64px 20px 20px 20px;   
    background-color: #a3a3a3;
    z-index:-1;
    position:relative;
    top: 7px;
    
}
    
