/*CSS RESET*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0;	outline: 0;	font-weight: inherit;	font-style: inherit; font-size: 100%; font-family: inherit; }
/* remember to define focus styles! */
:focus { outline: 0;}
ol, ul, li { list-style: none;}
table {	border-collapse: separate;	border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,q:before, q:after {	content: "";}
blockquote, q {	quotes: "" ""; }

a { text-decoration: none; color: #fff;}
.clear { clear: both;}

.btn_plus { background: url(images/btn_plus.png) no-repeat; display: block; height: 27px; line-height: 26px;}
.btn_plus_sm { background: url(images/btn_plus_sm.png) no-repeat; display: block; height: 17px; line-height: 18px;}

body { background: #ccc; color: #fff; font-family: Arial, Helvetica, sans-serif;}
#container { background: url(images/bg_container.jpg) repeat-x; width: 1024px; margin: 0 auto 10px;}
#header { border-bottom: 1px solid #fff; width: 1024px; margin: auto;}

#left_col { border-right: 1px solid #fff; width: 192px; height: 100%; float: left;}
#left_col #add_flow { border-bottom: 1px solid #999; background: #4D4D4D; width: 182px; height: 39px; padding: 20px 0 10px 10px; text-align: center;}
#left_col #add_flow .btn_plus { background: url(images/btn_plus.png) no-repeat; display: block; height: 27px; line-height: 26px;}
#left_col #add_flow .btn_plus a { color: #fff;}
#left_col #add_flow .btn_plus a:hover { color: #ccc;}

#search { border-bottom: 1px solid #fff; padding: 9px;}
#search #searchsubmit { float: left;}
#search #searchfield { background: url(images/search_mid.png) repeat-x; border: medium none; float: left; height: 20px; width: 120px;}

#content { float: left;}
#content.add_num {  width: 830px;}
#content.app_tree { width: 638px;}
#content #add_new_number { background: url(images/bg_add_number.png) no-repeat; width: 239px; height: 152px; margin: 100px auto 0;}
#content #add_new_number h2 { text-align: center; padding-top: 5px;}
#content #add_new_number input.number_field { background: none; border: medium none; color: #FFFFFF; display: block; margin: 24px auto 0; padding: 4px 0; width: 150px;}
#content #add_new_number #addNum_btn {  float: right; padding: 10px 35px 10px 0;}
#content #add_new_number #addNum_btn input { cursor: pointer; float: left; margin: 0 2px;}
#content input.ltgray_btn { background: url(images/btn_lightGrey.png) no-repeat; border: none; color: #666666; display: block; font-size: 12px; height: 18px; line-height: 20px; text-align: center; width: 73px;}
#content #addNum_btn { display: inline;}
#content #add_new_number #flow_num { float: right; font-size: 12px; padding: 18px 35px 0 0;}

#content #call_flow_nums { background: url(images/bg_callFlow_num.png) no-repeat; width: 239px; height: 152px; left: 100px; position: relative; top: 20px;}
#content #call_flow_nums h2 { padding: 5px 0 10px; text-align: center;}
#content #call_flow_nums #flow_list { height: 86px; margin: auto; overflow: auto; width: 180px;}
#content #call_flow_nums #flow_list ul { padding-left: 10px;}
#content #call_flow_nums #flow_list ul li { font-size: 12px; padding: 5px 0;}
#content #call_flow_nums #flow_num .btn_plus_sm { float: left; font-size: 12px; margin: 5px 0 0 5px; padding-left: 20px;}

#content #call_flow_nums .trash { background: url(images/trash.png) no-repeat; float: right; width: 12px; height: 16px; margin: 5px 12px 0; text-indent: -1000px;}

#content .app_lrg { width: 112px; height: 84px;}
#content .app_lrg .btn_delete { background: url(images/btn_delete.png) no-repeat; width: 6px; height: 6px; display: block; text-indent: -1000px; left: 5px; top: 5px; position: relative; float: left;}
#content .app_lrg .dragndrop { background: url(images/dragndrop.png) no-repeat 12px 5px; float: left; width: 95px; height: 15px; display: block;}
#content .app_lrg .edit_btn { background: url(images/btn_edit.png) no-repeat; float: right; clear: both; width: 9px; height: 7px; display: block; margin-right: 5px;}
#content .app_btn { clear: both; display: block; height: 56px; width: 112px;}

#content .app_menu { background: url(images/icons_black/menu.png) no-repeat; position: relative; top: 30px; left: 165px;}
#content .app_answer { background: url(images/icons_black/answer.png) no-repeat; float: left; position: relative; top: 40px; left: 20px;}
#content .app_play_tone { background: url(images/icons_black/play_tone.png) no-repeat; float: left; position: relative; top: 40px; left: 40px;}
#content .app_voicemail { background: url(images/icons_black/voicemail.png) no-repeat; float: left; position: relative; top: 40px; left: 50px;}
#content .app_auto_attendent { background: url(images/icons_black/auto_attendent.png) no-repeat; float: left; position: relative; top: 50px; left: 20px;}
#content .app_hang_up { background: url(images/icons_black/hang_up.png) no-repeat; float: left; position: relative; top: 50px; left: 30px;}

#content .editable_text { background: url(images/editable_text.png) no-repeat; width: 50px; height: 23px; display: block; float: left; left: 70px; position: relative; top: 24px;}
#content .drag_here { background: url(images/drag_here.png) no-repeat; float: left; position: relative; top: 40px; left: 30px;}

/* APP LIST */
#content #icons_black { width: 620px; float: left; padding: 20px;}
#content #icons_black .app_lrg { width: 112px; height: 84px; margin: 5px;}
#content #icons_black .app_lrg .btn_delete { background: url(images/btn_delete.png) no-repeat; width: 6px; height: 6px; display: block; text-indent: -10000px; left: 5px; top: 5px; position: relative; float: left;}
#content #icons_black .app_lrg .dragndrop { background: url(images/dragndrop.png) no-repeat 12px 5px; float: left; width: 95px; height: 15px; display: block;}
#content #icons_black .app_lrg .edit_btn { background: url(images/btn_edit.png) no-repeat; float: right; clear: both; width: 9px; height: 7px; display: block; margin-right: 5px;}
#content #icons_black .app_btn { clear: both; display: block; height: 56px; width: 112px;}

#content #icons_white { width: 106px; float: left; padding: 20px;}
#content #icons_white .app_sm { width: 45px; height: 37px; margin: 4px;}

#content #icons_white .menu { background: url(images/icons_white/menu.png) no-repeat; float: left;}
#content #icons_white .answer { background: url(images/icons_white/answer.png) no-repeat; float: left;}
#content #icons_white .play_tone { background: url(images/icons_white/play_tone.png) no-repeat; float: left;}
#content #icons_white .voicemail { background: url(images/icons_white/voicemail.png) no-repeat; float: left;}
#content #icons_white .auto_attendent { background: url(images/icons_white/auto_attendant.png) no-repeat; float: left;}
#content #icons_white .hang_up { background: url(images/icons_white/hang_up.png) no-repeat; float: left;}
#content #icons_white .transfer { background: url(images/icons_white/transfer.png) no-repeat; float: left;}
#content #icons_white .play_audio { background: url(images/icons_white/play_audio.png) no-repeat; float: left;}
#content #icons_white .record_call { background: url(images/icons_white/record_call.png) no-repeat; float: left;}
#content #icons_white .record_audio { background: url(images/icons_white/record_audio.png) no-repeat; float: left;}
#content #icons_white .wait_for_silence { background: url(images/icons_white/wait_for_silence.png) no-repeat; float: left;}
#content #icons_white .wait_for_tone { background: url(images/icons_white/wait_for_tone.png) no-repeat; float: left;}
#content #icons_white .conference { background: url(images/icons_white/conference.png) no-repeat; float: left;}
#content #icons_white .set_caller_id { background: url(images/icons_white/set_caller_id.png) no-repeat; float: left;}
#content #icons_white .check_caller_id { background: url(images/icons_white/check_caller_id.png) no-repeat; float: left;}
#content #icons_white .music_on_hold { background: url(images/icons_white/music_on_hold.png) no-repeat; float: left;}
#content #icons_white .ring_device { background: url(images/icons_white/ring_device.png) no-repeat; float: left;}
#content #icons_white .ring_group { background: url(images/icons_white/ring_group.png) no-repeat; float: left;}
#content #icons_white .dial { background: url(images/icons_white/dial.png) no-repeat; float: left;}
#content #icons_white .intercom_call { background: url(images/icons_white/intercom_call.png) no-repeat; float: left;}
#content #icons_white .change_ringer { background: url(images/icons_white/change_ringer.png) no-repeat; float: left;}
#content #icons_white .sleep { background: url(images/icons_white/sleep.png) no-repeat; float: left;}
#content #icons_white .send_touch_tone { background: url(images/icons_white/send_touch_tone.png) no-repeat; float: left;}
#content #icons_white .detect_fax { background: url(images/icons_white/detect_fax.png) no-repeat; float: left;}
#content #icons_white .receive_fax { background: url(images/icons_white/receive_fax.png) no-repeat; float: left;}
#content #icons_white .send_fax { background: url(images/icons_white/send_fax.png) no-repeat; float: left;}
#content #icons_white .run_macro { background: url(images/icons_white/run_macro.png) no-repeat; float: left;}
#content #icons_white .check_variable { background: url(images/icons_white/check_variable.png) no-repeat; float: left;}
#content #icons_white .set_variable { background: url(images/icons_white/set_variable.png) no-repeat; float: left;}
#content #icons_white .set_ringback { background: url(images/icons_white/set_ringback.png) no-repeat; float: left;}
#content #icicons_whiteons_black .check_time { background: url(images/icons_white/check_time_of_day.png) no-repeat; float: left;}

#content #icons_black .menu { background: url(images/icons_black/menu.png) no-repeat; float: left;}
#content #icons_black .answer { background: url(images/icons_black/answer.png) no-repeat; float: left;}
#content #icons_black .play_tone { background: url(images/icons_black/play_tone.png) no-repeat; float: left;}
#content #icons_black .voicemail { background: url(images/icons_black/voicemail.png) no-repeat; float: left;}
#content #icons_black .auto_attendent { background: url(images/icons_black/auto_attendent.png) no-repeat; float: left;}
#content #icons_black .hang_up { background: url(images/icons_black/hang_up.png) no-repeat; float: left;}
#content #icons_black .transfer { background: url(images/icons_black/transfer.png) no-repeat; float: left;}
#content #icons_black .play_audio { background: url(images/icons_black/play_audio.png) no-repeat; float: left;}
#content #icons_black .record_call { background: url(images/icons_black/record_call.png) no-repeat; float: left;}
#content #icons_black .record_audio { background: url(images/icons_black/record_audio.png) no-repeat; float: left;}
#content #icons_black .wait_for_silence { background: url(images/icons_black/wait_for_silence.png) no-repeat; float: left;}
#content #icons_black .wait_for_tone { background: url(images/icons_black/wait_for_tone.png) no-repeat; float: left;}
#content #icons_black .conference { background: url(images/icons_black/conference.png) no-repeat; float: left;}
#content #icons_black .set_caller_id { background: url(images/icons_black/set_caller_id.png) no-repeat; float: left;}
#content #icons_black .check_caller_id { background: url(images/icons_black/check_caller_id.png) no-repeat; float: left;}
#content #icons_black .music_on_hold { background: url(images/icons_black/music_on_hold.png) no-repeat; float: left;}
#content #icons_black .ring_device { background: url(images/icons_black/ring_device.png) no-repeat; float: left;}
#content #icons_black .ring_group { background: url(images/icons_black/ring_group.png) no-repeat; float: left;}
#content #icons_black .dial { background: url(images/icons_black/dial.png) no-repeat; float: left;}
#content #icons_black .intercom_call { background: url(images/icons_black/intercom_call.png) no-repeat; float: left;}
#content #icons_black .change_ringer { background: url(images/icons_black/change_ringer.png) no-repeat; float: left;}
#content #icons_black .sleep { background: url(images/icons_black/sleep.png) no-repeat; float: left;}
#content #icons_black .send_touch_tone { background: url(images/icons_black/send_touch_tone.png) no-repeat; float: left;}
#content #icons_black .detect_fax { background: url(images/icons_black/detect_fax.png) no-repeat; float: left;}
#content #icons_black .receive_fax { background: url(images/icons_black/receive_fax.png) no-repeat; float: left;}
#content #icons_black .send_fax { background: url(images/icons_black/send_fax.png) no-repeat; float: left;}
#content #icons_black .run_macro { background: url(images/icons_black/run_macro.png) no-repeat; float: left;}
#content #icons_black .check_variable { background: url(images/icons_black/check_variable.png) no-repeat; float: left;}
#content #icons_black .set_variable { background: url(images/icons_black/set_variable.png) no-repeat; float: left;}
#content #icons_black .set_ringback { background: url(images/icons_black/set_ringback.png) no-repeat; float: left;}
#content #icons_black .check_time { background: url(images/icons_black/check_time_of_day.png) no-repeat; float: left;}

#container #right_col ul li a.answer_sm { background: url(images/icons_white/answer.png) no-repeat;display: block; font-size: 14px; height: 37px; margin: 20px auto 0; padding-top: 38px; text-align: center; width: 45px;}

#content .drag_here { background: url(images/drag_here.png) no-repeat; float: left; position: relative; top: 40px; left: 30px;}

#container #right_col { background: #898989; float: left; width: 192px;}
#container #right_col h3 { background: url(images/bg_appList_cap.png) no-repeat; border-bottom: 1px solid #b1b1b1; font-size: 14px; padding: 30px 0 20px; text-align: center;}
#container #right_col ul { background: #6A6A6A;}
#container #right_col ul li { background: #898989; border: 1px solid #6A6A6A; float: left; height: 94px; width: 94px;}
#container #right_col ul li a {}
#container #right_col #app_list_nav { background: #bcbcbc; padding: 5px;}
#container #right_col #app_list_nav p { text-align: center; font-size: 14px; float: left; padding: 0 45px;}
#container #right_col #app_list_nav .left_arrow { background: url(images/arrow_left.png) no-repeat; width: 20px; height: 16px; float: left;}
#container #right_col #app_list_nav .right_arrow { background: url(images/arrow_right.png) no-repeat; width: 20px; height: 16px; float: left;}

#number_list { height: 400px;}
#number_list ul { background: #B3B3B3; font-family: Myriad Pro, Arial, Helvetica, sans-serif; font-size: 12px;}
#number_list ul li { padding: 10px 0 5px 30px; border-bottom: 1px solid #E9E9E9; border-top: 1px solid #A4A4A4;}
#number_list ul li.selected { color: #4D4D4D;}
#number_list ul li a {}

#right_col .voicemail_apps { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px; margin: 2px auto; font-size: 13px;}
#right_col .ringtone_apps { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px; margin: 2px auto; font-size: 13px;}
#right_col .recording_apps { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px; margin: 2px auto; font-size: 13px;}

#footer { width: 1024px; margin: 0 auto 20px; font-size: 12px;}
#footer a { float: left; margin-right: 10px;}
#footer a.detailed_listing { background: url(images/btn_detailed_listing.png) no-repeat; width: 189px; height: 26px; display: block; text-align: center; line-height: 25px;}
#footer a.gray_btn { background: url(images/btn_darkGrey.png) no-repeat; width: 81px; height: 28px; display: block; text-align: center; line-height: 25px;}
#footer a.remove {}
#footer a.save {}