#device-listpanel ul .list-element {
    background-image: url(../images/red.png);
    background-position: left;
    background-repeat: no-repeat;
}

#device-listpanel ul .list-element.registered {
    background-image: url(../images/green.png);
}
