#sdidform #sdid_npa {
    width: 4em;
    margin-left: 190px;
}

#sdidform #sdid_nxx {
    width: 4em;
    margin-left: 80px;
}

#sdidform #ACspan {
    display: inline-block;
    margin-left: 178px;
}

#sdidform #COCspan {
    display: inline-block;
    margin-left: 10px;
}

.foundDID {
    text-align: center;
}

.did_ratecenter {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 15%;
}

.needCreditAdj {
    height: 12px;
}
