/* 
    Document   : icons
    Created on : Jun 6, 2011, 7:19:19 AM
    Author     : Darren Schreiber
    Description:
        This stylesheet allows you to load a single image map and specify an icon type and color to have it appear.

        Examples include
        <div class="icon phone" />      <-- Show a picture of a phone -->
        <div class="icon phone current" />      <-- Show a picture of a phone, as current selection (typically blue) -->
        <div class="icon darkgrey phone" />     <-- Show a picture of a phone and explicitly force it to appear in dark grey -->
*/

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: -1px;
    padding-right: 6px;
    background-image: url(../images/icons_32x32_gradient.png); /* This is the default - darkgrey */
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* Color overrides */
.current {
    background-image: url(../images/icons_32x32_blue.png); /* Default for current is blue */
}

.icon.blue {
    background-image: url(../images/icons_32x32_blue.png);
}

.icon.darkgrey {
    background-image: url(../images/icons_32x32_darkgrey.png);
}

.icon.green {
    background-image: url(../images/icons_32x32_green.png);
}

.icon.lightgrey {
    background-image: url(../images/icons_32x32_lightgrey.png);
}

.icon.red {
    background-image: url(../images/icons_32x32_red.png);
}

.icon.white {
    background-image: url(../images/icons_32x32_white.png);
}

.icon.small_white {
    background-image: url(../images/icons_16x16_white.png);
}

.icon.small_lightgrey {
    background-image: url(../images/icons_16x16_lightgrey.png);
}

.icon.yellow {
    background-image: url(../images/icons_32x32_yellow.png);
}


/************** ICONS APPNAV *****/

.icon.voip_services { /* 4, 5 */
    background-position: -128px -160px;
}

.icon.cluster_manager { /* 23, 0 */
    background-position: -736px 0px;
}

.icon.connectivity { /* 8, 13 */
    background-position: -256px -416px;
}

.icon.dashboard { /* 10, 13 */
    background-position: -320px -416px;
}

/************** ICONS SUBNAV *****/

.icon.account { /* 0, 11 */
    background-position: 0 -357px;
}

.icon.callflow { /* 5, 0 */
    background-position: -160px -5px;
}

.icon.conference { /* 10, 5 */
    background-position: -832px -165px;
}

.icon.device { /* 16, 5 */
    background-position: -512px -165px;
}

.icon.media { /* 10, 9 */
    background-position: -320px -293px;
}

.icon.play { /* 10, 9 */
    background-position: -320px -293px;
}

.icon.menu { /* 20, 5 */
    background-position: -640px -165px;
}

.icon.registration { /* 18, 7 */
    background-position: -576px -229px;
}

.icon.resource { /* 0, 7 */
    background-position: 0 -229px ;
}

.icon.offnet { /* 0, 7 */
    background-position: 0 -229px ;
}

.icon.user { /* 17, 6 */
    background-position: -544px -197px;
}

.icon.vmbox { /* 30, 5 */
    background-position: -960px -165px;
}

.icon.voicemail { /* 30, 5 */
    background-position: -960px -165px;
}

.icon.timeofday { /* 15, 8 */
    background-position: -448px -229px;
}

.icon.temporal_route { /* 15, 8 */
    background-position: -448px -229px;
}

.icon.ring_group { /* 18, 5 Needs to change to a better one */
    background-position: -320px -165px;
}


/************** ICONS ************/
.icon.phone {
    background-position: -512px -163px;
}

.icon.active_phone {
    background-position: -192px -163px;
}

.icon.legal {
    background-position: -736px -323px;
}

.icon.help {
    background-position: -608px -195px;
}

.icon.book {
    background-position: -320px -355px;
}

.icon.small_edit {
    background-position: -368px -64px;
}

.icon.support {
    background-position: -416px -195px;
}

.icon.price_tag {
    background-position: -416px -259px;
}

.icon.sip {
    background-position: -704px -165px;
}

.icon.audio {
    background-position: -320px -293px;
}

.icon.video {
    background-position: -96px -389px;
}

.icon.fax {
    background-position: -512px -357px;
}

.icon.cc {
    background-position: -577px -357px;
}

.icon.cdr {
    background-position: -192px -229px;
}

.icon.billing {
    background-position: -769px -357px;
}

.icon.location {
    background-position: -32px -260px;
}

.icon.limit {
    background-position: -830px -290px;
}

.icon.charge {
    background-position: -192px -356px;
}

.icon.monitoring {
    background-position: -321px -419px;
}

.icon.robot {
    background-position: -736px -387px;
}

.icon.rightarrow {
    background-position: -860px -2px;
}

.icon.cart {
    background-position: -700px -292px;
}

.icon.authentication {
    background-position: 0 -290px;
}

.icon.recharge {
    background-position: -473px 0;
}

.icon.dollar {
    background-position: -960px -419px;
}

.icon.search {
    background-position: -895px -424px;
}

.icon.question {
    background-position: -131px -40px;
}

.icon.puzzle {
    background-position: -480px -451px;
}

.icon.account {
    background-position: 0 -357px;
}

.icon.credit_card {
    background-position: -577px -357px;
}

.icon.billing {
    background-position: -769px -357px;
}


.icon.authentication {
    background-position: 0 -290px;
}

.icon.location {
    background-position: -32px -260px;
}

.icon.limit {
    background-position: -830px -290px;
}

.icon.monitoring {
    background-position: -321px -419px;
}

.icon.robot {
    background-position: -736px -387px;
}

.icon.search {
    background-position: -895px -424px;
}

/*.icon.close {
    background-image: url("../../whapps/core/layout/images/icons_16x16_white.png");
    background-position: -480px -16px;
}*/
