/* 
    Document   : icons
    Created on : Jun 6, 2011, 7:19:19 AM
    Author     : Darren Schreiber
    Description:
        This stylesheet allows you to load a single image map and specify an icon type and color to have it appear.

        Examples include
        <div class="icon phone" />      <-- Show a picture of a phone -->
        <div class="icon phone current" />      <-- Show a picture of a phone, as current selection (typically blue) -->
        <div class="icon darkgrey phone" />     <-- Show a picture of a phone and explicitly force it to appear in dark grey -->
*/

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: -1px;
    padding-right: 6px;
    background-image: url(../images/icons_32x32_gradient.png); /* This is the default - darkgrey */
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* Color overrides */
.current {
    background-image: url(../images/icons_32x32_blue.png); /* Default for current is blue */
}

.icon.blue {
    background-image: url(../images/icons_32x32_blue.png);
}

.icon.darkgrey {
    background-image: url(../images/icons_32x32_darkgrey.png);
}

.icon.green {
    background-image: url(../images/icons_32x32_green.png);
}

.icon.lightgrey {
    background-image: url(../images/icons_32x32_lightgrey.png);
}

.icon.red {
    background-image: url(../images/icons_32x32_red.png);
}

.icon.white {
    background-image: url(../images/icons_32x32_white.png);
}

.icon.yellow {
    background-image: url(../images/icons_32x32_yellow.png);
}
/************** ICONS SUBNAV *****/

.icon.account {
	background-position: 0 -357px;
}

.icon.callflow {
    background-position: -160px -5px;
}

.icon.conference {
    background-position: -320px -165px;
}

.icon.device {
    background-position: -512px -165px;
}

.icon.media {
    background-position: -320px -293px;
}

.icon.menu {
    background-position: -640px -165px;
}

.icon.registration {
    background-position: -576px -229px;
}

.icon.resource {
    background-position: 0 -229px ;
}

.icon.user {
    background-position: -544px -197px;
}

.icon.vmbox {
    background-position: -896px -165px;
}


/************** ICONS ************/
.icon.phone {
    background-position: -512px -160px;
}

.icon.sip {
    background-position: -704px -160px;
}

.icon.audio {
    background-position: -320px -288px;
}

.icon.video {
    background-position: -96px -384px;
}

.icon.fax {
    background-position: -512px -352px;
}

.icon.cc {
    background-position: -577px -357px;
}

.icon.cdr {
	background-position: -192px -224px;
}

.icon.billing {
    background-position: -769px -357px;
}

.icon.location {
    background-position: -32px -260px;
}

.icon.limit {
    background-position: -830px -290px;
}

.icon.charge {
    background-position: -192px -356px;
}

.icon.monitoring {
    background-position: -321px -419px;
}

.icon.robot {
    background-position: -736px -387px;
}

.icon.rightarrow {
    background-position: -860px -2px;
}

.icon.cart {
    background-position: -700px -292px;
    margin: -6px 15px 10px -15px;
}

.icon.authentication {
    background-position: 0 -290px;
}

.icon.recharge {
    background-position: -473px 0;
    margin: -12px 15px 10px -15px;
}

.icon.dollar {
    background-position: -960px -419px;
    margin: -12px 15px 10px -15px;
}

.icon.search {
    background-position: -895px -424px;
}

.account_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: 0 -357px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -7px 15px 10px -20px;
}

.cc_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: -577px -357px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -7px 15px 10px -15px;
}

.billing_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: -769px -357px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -10px 15px 10px -15px;
}

.authentication_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: 0 -290px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -12px 15px 10px -15px;
}

.location_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: -32px -260px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -10px 15px 10px -20px;
}

.limit_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: -830px -290px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -12px 15px 10px -18px;
}

.monitoring_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: -321px -419px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -10px 15px 10px -15px;
}

.robot_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: -736px -387px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -10px 15px 10px -15px;
}

.search_icon {
    background: url(../images/Icons_32x32_Blue.png);
    background-position: -895px -424px;
    width: 32px;
    height: 32px;
    float: left;
    margin: -6px 15px 10px -15px;
}
