/* Add your custom CSS here */

/* If you are building a widget that could be used by EVERYONE, please consider adding your CSS
 * to the global CSS stylesheet (talk to Dhruvi). Otherwise, add it here only */

/* DO NOT USE IDs FOR CSS! CLASSES ONLY! */

.list-skeleton {
    cursor: pointer;
}

.myaccount_popup h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

#billing a {
    background-image: url(../images/regular_btn.png);
    width: 81px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 27px;
    color: white;
    margin: auto; 
}

#billing a:hover {
    color: #05AFDC;
    cursor: pointer;
}

#billing .left {
    margin: 0px; 
}

#billing p.note_box {
    background-color: #E7E7E7;
    padding: 15px 10px;
    font-size: 10px;
    line-height: 15px;
}

.myaccount_popup .apps li{
    margin-left: 20px;
    
}


#apykey a {
    background-image: url(../images/regular_btn.png);
    width: 81px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 27px;
    color: white;
    margin: auto; 
}

#apykey a:hover {
    color: #05AFDC;
    cursor: pointer;
}