.account_list {
	height: 490px;
	border-bottom: 1px solid #8b8a8a;
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.account_list ul {
	background-color: #989898;
}

.account_list ul li {
	height: 27px;
	line-height: 27px;
	border-bottom: 1px solid #E3E3E3;
	border-top: 1px solid #8b8a8a;
	list-style-type: none;
}

.account_list ul li a {
	float: left;
	display: block;
	color: #464747;
	width: 102px;
	height: 27px;
	padding-left: 35px;
	color: #474747;
	text-decoration: none;
	background-color: #989898;
	border-right: 1px solid #7a7a7a;
}

.account_list ul li a:hover {
	background-color: #bebebe;
}

.account_list ul li .account_arrow a {
	display: block;
	width: 28px !important;
	height: 27px !important;
	background-image: url(../img/account_arrow.png)
		!important;
	background-color: #989898;
	float: left;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	padding: 0 !important;
	border: none;
	!
	important;
}

.account_list ul li .account_arrow a:hover {
	background-color: #bebebe !important;
}

a.detailed_listing {
	display: block;
	background-image:
		url(../img/view_detail_btn.png);
	width: 161px;
	height: 26px;
	padding-left: 29px;
	margin-top: 17px;
	background-position: 0px 0px;
	line-height: 26px;
	color: #fff;
	text-decoration: none;
}

a.detailed_listing:hover {
	background-position: 0px -26px;
}

/**************************
----TOP TABS ACCOUNT---------
****************************/
ul.account_tabs {
	margin: 33px 0 0 31px;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

ul.account_tabs li {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.account_tabs li:hover {
	background-position: 0px -23px;
}

ul.account_tabs a {
	text-decoration: none;
	display: block;
	background-image: url(img/account_tabs.png);
	background-position: 0px 0px;
	height: 23px;
	width: 155px;
	line-height: 23px;
	position: relative;
	color: #fff;
}

ul.account_tabs a:hover {
	background-position: 0px -23px;
}

ul.account_tabs a.current,ul.account_tabs a.current:hover,ul.account_tabs li.current a
	{
	background-position: 0px -23px;
	cursor: default !important;
	color: #fff !important;
}

.pane {
	width: 760px;
	border: 1px solid #727272;
	margin-left: 18px;
	padding: 20px;
	background-color: #a3a3a3;
}

/*******************
----BOTTOM TABS-----
*******************/
.advance-setting_box {
	background-image:
		url(img/advacnce_settings_box.png);
	width: 800px;
	height: 30px;
	margin: 12px 0 0 18px;
}

.advance-setting_box h2 {
	font-weight: bold;
	line-height: 30px;
	padding-left: 11px;
	float: left;
	display: block;
}

ul.advanced_tabs {
	float: left;
	margin-left: 106px;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
}

ul.advanced_tabs li {
	float: left;
	margin: 0;
	padding-left: 28px;
	text-align: center;
	height: 30px;
	display: block;
}

ul.advanced_tabs a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	height: 30px;
	display: block;
}

ul.advanced_tabs a:hover {
	color: #29abe1;
}

ul.advanced_tabs a.current,ul.advanced_tabs a.current:hover,ul.advanced_tabs li.current a
	{
	background-image: url(img/triangle.gif);
	background-repeat: no-repeat;
	cursor: default !important;
	color: #29abe1 !important;
	background-position: center bottom;
}

.advanced_pane {
	width: 760px;
	margin-left: 18px;
	padding: 20px;
	color: #5e5f61;
	background-color: #c7c7c7;
}
